<div class="col-sm-12 col-sm-12">
  <div class="card">
    <div class="card-description">
      <h4> <%= cocktail.name %> </h4>
    </div>
    <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
  </div>
</div>
